src/main/mule/postloanoptions.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <http:listener-config name="postloanoptions-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="postloanoptions-config" raml="postloanoptions.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="2137b71e-e79f-42e6-bec0-9421018c04ae">
		<salesforce:basic-connection username="${sfdc.username}" password="${sfdc.password}" url="https://test.salesforce.com/services/Soap/u/42.0">
			<reconnection >
				<reconnect frequency="3000" count="3" />
			</reconnection>
		</salesforce:basic-connection>
	</salesforce:sfdc-config>
	<configuration-properties doc:name="Configuration properties" doc:id="9a7a54e3-593f-4966-8b91-10f8b05e7bc6" file="local-config.yaml" />
	<flow name="postloanoptions-main">
        <http:listener config-ref="postloanoptions-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="postloanoptions-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ddc65b22-906d-4829-af3a-059af8a849f0">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: error.description}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2917dfbe-7a1e-477c-84a7-1efd3b982aeb">
				<ee:transform doc:name="Transform Message" doc:id="689dc506-7c54-446d-8f2f-c43e21c100e3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"message":error.description }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="postloanoptions-console">
        <http:listener config-ref="postloanoptions-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="postloanoptions-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<sub-flow name="QueryDealId" doc:id="6a465022-cae3-432f-ba1c-0f862c0a32ad" >
		<ee:transform doc:name="create a list of deal id c" doc:id="07f1485e-b23c-490b-9ba1-036cf057133a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"(" ++ ((payload map ("'" ++ ($.dealId default "") ++ "'") default []) joinBy ",") ++ ")"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query Opportunity" doc:id="90b95588-5406-4b0a-99d7-516b6609b682" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Id,Deal_Id__c FROM Opportunity WHERE Deal_Id__c IN :dealIds</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"dealIds" : payload
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Set variable OpportunityId" doc:id="99fd72fa-ca36-4db3-a5b3-2d872215dd45" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="opportunityId" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-true doc:name="Validate if opportunity id " doc:id="b72f0ba1-1b10-42a1-9cc6-746cb57df2de" expression='#[vars.opportunityId != null and vars.opportunityId != ""]' message="Provided deal id is not accessible or does not exist"/>
	</sub-flow>
	<sub-flow name="RetrieveLONameFromId" doc:id="82289c65-5dde-4aee-a73e-a5027dcbccb9" >
		<ee:transform doc:name="Create list of Ids" doc:id="a2a79374-5877-49ce-b155-4f01fb60c699">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
"(" ++ (((payload map ("'" ++ ($.id default "") ++ "'") ) default []) joinBy ",") ++ ")"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query Loan_Options__c for all Ids in list" doc:id="3ece2407-834d-4ca8-8c92-9e1cae38dce1" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Name FROM Loan_Option__c WHERE id IN :records</salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"records" : payload
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="ff38a50c-1568-4903-8080-7d501a0b365a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"names":payload map ($.Name)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="post:\loanoption:application\json:postloanoptions-config">
        <logger level="INFO" message="post:\loanoption:application\json:postloanoptions-config" />
		<flow-ref doc:name="Validate Against Interest Type" doc:id="0f8c88ec-5f79-44e9-9742-21e1260083d8" name="ValidateAgainstInterestType"/>
		<flow-ref doc:name="Validate against Variable Product Type" doc:id="e6d2775c-a6d5-45b2-84d5-5c7d1bfc935b" name="ValidateAgainstProductType"/>
		<flow-ref doc:name="Validate against prepayment components" doc:id="bdb12528-e5b1-4907-9aeb-df036e240f8e" name="ValidateAgainstPrepayComps"/>
		<flow-ref doc:name="Miscellaneous validations" doc:id="159d43a0-7241-4b30-a486-759d8419223b" name="MiscValidations"/>
		<set-variable value="#[payload]" doc:name="Set incoming Payload as originalPayload" doc:id="cde7f60a-34fb-42f3-b88f-e757e4f9c34b" variableName="originalPayload"/>
		<flow-ref doc:name="get Deal Id" doc:id="a37c230a-8a07-4b94-9cb1-cc05ef0acf33" name="QueryDealId" />
		<set-payload value="#[vars.originalPayload]" doc:name="Set originalPayload as current payload" doc:id="875df38e-df96-478d-9b51-c8a2ca11ea4e" />
		<ee:transform doc:name="Map incoming payload to Salesforce object" doc:id="ba7dbb45-da04-431b-a008-1ec0b2fa0d6a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ({
	Alternate_Exit_Amortization_Term__c: $.expectedExitAmortizationTerm,
	Alternate_Exit_Maximum_LTV__c: $.expectedExitMaximumLTV as String,
	Alternate_Exit_Maximum_Terminal_Cap_Rate__c: $.expectedExitTerminalCapRate as String,
	Alternate_Exit_Minimum_DSCR__c: $.expectedExitMinUWDSCRperGuide,
	Alternate_Exit_Refinance_Costs__c: $.expectedExitRefinanceCosts as String,
	Alternate_Exit_Refinance_Interest_Rate__c: $.expectedExitRefinanceInterestRate as String,
	Amortization_Term_months__c: $.amortizationTermMonths,
	At_Requested_Maximum_LTC_Amount__c: $.requestedMaximumLTC as String,
	At_Requested_Maximum_LTV_Amount__c: $.requestedMaximumLTV as String,
	Cap_Cost_Factor__c: $.capCostFactor as String,
	Comments__c: $.Comments,
	Commitment_Period_days__c: $.commitmentPerioddays,
	Deal__c: (vars.opportunityId filter((item,index)-> item.Deal_ID__c == $.dealId))[0].Id,
	Declining_Premium_Schedule__c: $.decliningPremiumSchedule,
	Development_Construction_Cost__c: $.propertyDevelopmentConstructionCost as String,
	Economic_Vacancy_Amount__c: $.propertyEconomicVacancyAmount as String,
	Estimated_Origination_Fee__c: $.estimatedOriginationFee as String,
	Excess_Origination_Premium_Amount__c: $.excessOriginationPremiumAmount as String,
	Fixed_Index_Rate_Type__c: $.fixedIndexRateType,
	Fixed_Rate_Test_Actual_Cooperative_DSCR__c: $.guideFRTMinActualCooperativeDSCR,
	Fixed_Rate_Test_LTV__c: $.guideFRTLTV as String,
	Fixed_Rate_Test_Req_Actual_Co_op_DSCR__c: $.requestedFRTMinActualNCFCOOPDSCR,
	Fixed_Rate_Test_Requested_LTV__c: $.requestedFRTLTV as String,
	Fixed_Rate_Test_Requested_UW_DSCR__c: $.requestedFRTMinUWDSCRperGuide,
	Fixed_Rate_Test_Underwritten_DSCR__c: $.guideFRTMinUWDSCRperGuide,
	Funded_Capital_Improvements__c: $.propertyFundedCapitalImprovements as String,
	Funded_Completion_Repairs__c: $.propertyFundedCompletionRepairs as String,
	Funded_Initial_Replacement_Reserves__c: $.propertyFundedCapitalExpendituresReplacementReserveAccount as String,
	Funded_Other_Escrows__c: $.propertyFundedOtherEscrows as String,
	Index_Rate_Type__c: $.indexRateType,
	Index_Rate__c: $.indexRate as String,
	Interest_Basis__c: $.interestBasis,
	Interest_Only_Period_months__c: $.interestOnlyPeriodMonths,
	Interest_Rate_Cap_Hedging_Fees__c: $.interestRateCapHedgingFees as String,
	Interest_Type__c: $.interestType,
	LIHTC_Equity__c: $.lIHTCEquity as String,
	Latest_Pricing_Memo_Guaranty_Fee__c: $.latestPricingMemoGuarantyFee as String,
	Latest_Pricing_Memo_Servicing_Fee__c: $.latestPricingMemoServicingFee as String,
	Lender_Closing_Transaction_Fees__c: $.lenderClosingTransactionFees as String,
	Lien_Position__c: $.lienPosition,
	Loan_Amount__c: $.loanAmount as String,
	Loan_Purchase_Price_of_par__c: $.loanPurchasePriceofpar as String,
	Loan_Term_months__c: $.loanTermMonths,
	Loss_Sharing_Percent__c: $.lossSharingPercent as String,
	Mezz_Preferred_Equity_1__c: $.mezzPreferredEquity1 as String,
	Mezz_Preferred_Equity_2__c: $.mezzPreferredEquity2 as String,
	Mezzanine_and_Preferred_Equity_Debt_Serv__c: $.mezzanineandPreferredEquityDebtService as String,
	Origination_Fee_Paid_to_Broker__c: $.originationFeePaidtoBroker as String,
	Origination_Fee_Paid_to_Correspondent__c: $.originationFeePaidtoCorrespondent as String,
	Origination_Fees__c: $.originationFees as String,
	Other_Fixed_Rate_Fee_or_Spread__c: $.otherFixedRateFeeSpread as String,
	Other_Prepayment_Premium_Schedule__c: $.otherPrepaymentPremiumSchedule,
	Other_Sources__c: $.otherSources as String,
	Other_Uses__c: $.otherUses as String,
	Payoff_Affiliated_Mezz_Pref_Equity__c: $.affiliatedMezzanineDebtorPreferredEquityPayoff as String,
	Payoff_Existing_Mortgage_Loan__c: $.payoffExistingMortgageLoan as String,
	Payoff_Unaffiliated_Mezz_Pref_Equity__c: $.nonAffiliatedMezzanineDebtorPreferredEquityPayoff as String,
	Prepayment_Component_1__c: $.prepaymentComponent1,
	Prepayment_Component_2__c: $.prepaymentComponent2,
	Prepayment_Component_to_Months_1__c: $.prepaymentComponenttoMonths1,
	Prepayment_Component_to_Months_2__c: $.prepaymentComponenttoMonths2,
	Prepayment_Premium__c: $.prepaymentPremium as String,
	Pricing_Method__c: $.pricingMethod,
	Property_Actual_Cooperative_NCF__c: $.propertyActualCooperativeNCF as String,
	Property_Cost__c: $.propertyCost as String,
	Property_Gross_Potential_Rent_Amount__c: $.propertyGrossPotentialRent as String,
	Property_Insurance_Expense_Amount__c: $.propertyInsurance as String,
	Property_Management_Expense_Amount__c: $.propertyManagementFee as String,
	Property_Other_Expense_Amount__c: $.propertyOtherExpenses as String,
	Property_Other_Income_Amount__c: $.propertyOtherIncome as String,
	Property_Purchase_Price__c: $.propertyPurchasePrice as String,
	Property_Real_Estate_Tax_Amount__c: $.propertyRealEstateTaxes as String,
	Property_Replacement_Reserve_Annual_Amou__c: $.propertyReplacementReserves as String,
	Property_Underwritten_Value__c: $.propertyUnderwrittenValue as String,
	Rate_Lock_Type__c: $.rateLockType,
	Requested_Fixed_Rate_Guaranty_Fee__c: $.requestedFixedRateGuarantyFee as String,
	Requested_Fixed_Rate_Servicing_Fee__c: $.requestedFixedRateServicingFee as String,
	Requested_Fixed_Rate_Test_Min_Amortizing__c: $.requestedFRTMinAmortizingUWNCFDSCR,
	Requested_Min_Actual_Cooperative_DSCR__c: $.requestedMinActualCooperativeDSCR,
	Requested_Minimum_Actual_DSCR__c: $.requestedMinAmortizingUWNCFDSCR,
	Requested_Minimum_Underwritten_DSCR__c: $.requestedMinUWDSCRperGuide,
	Requested_Tier_Level__c: $.requestedTierLevel,
	Requested_Variable_Rate_Guaranty_Fee__c: $.requestedVariableRateGuarantyFee as String,
	Requested_Variable_Rate_Servicing_Fee__c: $.requestedVariableRateServicingFee as String,
	SARM_Initial_Cap_Term_yrs__c: $.sARMInitialCapTermMonths,
	SARM_Min_Cap_Strike_Rate__c: $.sARMMinCapStrikeRate as String,
	Status__c: $.Status,
	Stress__c: $.underwrittenStressMaxLifetimePassThruRate as String,
	Subordinate_Financing_1__c: $.subordinateFinancing1 as String,
	Subordinate_Financing_2__c: $.subordinateFinancing2 as String,
	Subordinate_Financing_3__c: $.subordinateFinancing3 as String,
	Supplemental_Type__c: $.supplementalType,
	Third_Party_Closing_Transaction_Fees__c: $.thirdPartyClosingTransactionFees as String,
	Tier_Level__c: $.guideTierLevel,
	Tier_Maximum_LTV__c: $.guideMaximumLTV as String,
	Tier_Minimum_Actual_Cooperative_DSCR__c: $.guideMinActualCooperativeDSCR,
	Tier_Minimum_Underwritten_DSCR__c: $.guideMinUWDSCRperGuide,
	Total_Fixed_Rate_Investor_Spread__c: $.totalFixedRateInvestorSpread as String,
	Total_Variable_Rate_Investor_Spread__c: $.totalVariableRateInvestorSpread as String,
	Treasury_Rate__c: $.treasuryRate as String,
	Type__c: $.Type,
	UW_Interest_Rate_Floor_per_Guide__c: $.uWInterestRateFloorperGuide as String,
	Variable_Product_Type__c: $.variableProductType,
	X1st_Lien_Actual_Interest_Rate__c: $.x1stLienActualFixedFixedEquivalentInterestRate as String,
	X1st_Lien_Amortization_Term_months__c: $.x1stLienAmortizationTermMonths,
	X1st_Lien_Current_UPB_Amount__c: $.x1stLienCurrentUPBAmount as String,
	X1st_Lien_Interest_Basis__c: $.x1stLienInterestBasis,
	X1st_Lien_Interest_Only_Period_months__c: $.x1stLienInterestOnlyPeriodMonths,
	X1st_Lien_Interest_Type__c: $.x1stLienInterestType,
	X1st_Lien_Loan_Maturity_Date__c: $.x1stLienLoanMaturityDate as Date,
	X1st_Lien_Loan_Term_months__c: $.x1stLienLoanTermMonths,
	X1st_Lien_Original_Loan_Amount__c: $.x1stLienOriginalLoanAmount as String,
	X1st_Lien_Purchased_Cap_Stike_Rate__c: $.x1stLienPurchasedCapStrikeRate as String,
	X1st_Lien_Required_Min_DSCR_for_Loan_Siz__c: $.x1stLienRequiredMinDSCRforLoanSizing,
	X1st_Lien_Variable_UW_Interest_Rate__c: $.x1stLienVariableUWInterestRate as String,
	X2nd_Lien_Actual_Interest_Rate__c: $.x2ndLienActualFixedFixedEquivalentInterestRate as String,
	X2nd_Lien_Amortization_Term_months__c: $.x2ndLienAmortizationTermMonths,
	X2nd_Lien_Current_UPB_Amount__c: $.x2ndLienCurrentUPBAmount as String,
	X2nd_Lien_Interest_Basis__c: $.x2ndLienInterestBasis,
	X2nd_Lien_Interest_Only_Period_months__c: $.x2ndLienInterestOnlyPeriodMonths,
	X2nd_Lien_Interest_Type__c: $.x2ndLienInterestType,
	X2nd_Lien_Loan_Maturity_Date__c: $.x2ndLienLoanMaturityDate as Date,
	X2nd_Lien_Loan_Term_months__c: $.x2ndLienLoanTermMonths,
	X2nd_Lien_Original_Loan_Amount__c: $.x2ndLienOriginalLoanAmount as String,
	X2nd_Lien_Purchased_Cap_Stike_Rate__c: $.x2ndLienPurchasedCapStrikeRate as String,
	X2nd_Lien_Required_Min_DSCR_for_Loan_Siz__c: $.x2ndLienRequiredMinDSCRforLoanSizing,
	X2nd_Lien_Variable_UW_Interest_Rate__c: $.x2ndLienVariableUWInterestRate as String,
	Exercising_Tier_Dropping_Option__c: $.exercisingTierDroppingOption,
	Green_Financing_Type__c: $.greenFinancingType
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:id="35c04d03-70d1-4afb-8299-b9382498152d" config-ref="Salesforce_Config" doc:name="Create Loan Option" type="Loan_Option__c">
			<reconnect/>
			<salesforce:headers ><![CDATA[#[%dw 2.0
output application/java
---
{
	AllOrNoneHeader: {
		allOrNone: true
	}
}]]]></salesforce:headers>
		</salesforce:create>
		<validation:is-true doc:name="Is true" doc:id="f4b05626-6cfc-40cc-b663-265be2f8875c" expression="#[payload[0].success]" message='#["Unable to create loan options"]'/>
		<flow-ref doc:name="Get Name of newly created LO" doc:id="c9020a92-b0e2-4b30-b98e-a3fe816d5cbe" name="RetrieveLONameFromId"/>
    </flow>
	
	<sub-flow name="ValidateAgainstInterestType" doc:id="3cc0bd84-0654-43d2-947a-09e494aef948" >
		<validation:is-false doc:name="validate VariableProductType" doc:id="14af1d87-4004-4bea-a186-58750c86bc56" expression='#[sizeOf(payload filter((item,index) -&gt; item.interestType == "Variable Rate" and (item.variableProductType == "" or item.variableProductType == null))) != 0]' message="variableProductType cannot be blank when interestType is Variable Rate"/>
		<validation:is-false doc:name="validate Index Rate Type" doc:id="6bb35b28-71be-4a3b-b800-f29541093c77" expression='#[sizeOf(payload filter((item,index)-&gt; item.interestType == "Variable Rate" and (item.indexRateType == "" or item.indexRateType == null))) != 0]' message="Index Rate Type cannot be blank when indexRateType is Variable Rate"/>
		<validation:is-false doc:name="validate indexRate " doc:id="1e69ca39-b249-4c1d-86ba-d1395b84731d" expression='#[sizeOf(payload filter((item,index)-&gt;item.interestType == "Variable Rate" and (item.indexRate == "" or item.indexRate == null))) != 0]' message="indexRate cannot be null when interestType is Variable Rate"/>
		<validation:is-false doc:name="validate totalVariableRateInvestorSpread " doc:id="2a2140d0-9d50-4cc4-9bc9-be62d168e5de" expression='#[sizeOf(payload filter((item,index)-&gt;item.interestType == "Variable Rate" and (item.totalVariableRateInvestorSpread == null))) != 0]' message="totalVariableRateInvestorSpread cannot be null when interestType is Variable Rate"/>
		<validation:is-false doc:name="validate requestedVariableRateGuarantyFee" doc:id="094f3b15-bd8c-41b6-92ee-23f91462dca8" expression='#[sizeOf(payload filter((item,index)-&gt;item.interestType == "Variable Rate" and item.requestedVariableRateGuarantyFee == null)) != 0]' message="requestedVariableRateGuarantyFee cannot be null when interestType is Variable Rate"/>
		<validation:is-false doc:name="validate requestedVariableRateServicingFee" doc:id="080ee3c1-8a1c-494c-9ca2-287a170f2511" expression='#[sizeOf(payload filter((item,index)-&gt;item.interestType == "Variable Rate" and item.requestedVariableRateServicingFee == null)) != 0]' message="requestedVariableRateServicingFee cannot be null when interestType is Variable Rate"/>
		<validation:is-false doc:name="validate capCostFactor" doc:id="9574c651-90fb-4fe2-86ff-40ae9ddce7fb" expression='#[sizeOf(payload filter ((item,index)-&gt; item.interestType == "Variable Rate" and item.capCostFactor == null)) != 0]' message="capCostFactor cannot be null when interest rate type is Variable Rate"/>
		<validation:is-false doc:name="validate underwrittenStressMaxLifetimePassThruRate" doc:id="6ac37052-efa4-4d1b-af9b-9185540160a0" message="underwrittenStressMaxLifetimePassThruRate cannot be null when interestType is Variable Rate" expression='#[sizeOf(payload filter ((item,index)-&gt; item.interestType == "Variable Rate" and item.underwrittenStressMaxLifetimePassThruRate == null)) != 0]'/>
		<validation:is-false doc:name="validate guideFRTMinUWDSCRperGuide" doc:id="eac6b79f-d38e-40f0-ae7c-640c10784201" expression='#[sizeOf(payload filter ((item,index)-&gt; item.interestType == "Variable Rate" and item.guideFRTMinUWDSCRperGuide == null)) != 0]' message="guideFRTMinUWDSCRperGuide cannot be null when interestType is Variable Rate"/>
		<validation:is-false doc:name="validate guideFRTLTV" doc:id="6d6733fb-0840-4262-b632-9cdf90aafdf2" message="guideFRTLTV cannot be null when interestType is Variable Rate" expression='#[sizeOf(payload filter ((item,index)-&gt; item.interestType == "Variable Rate" and item.guideFRTLTV == null)) != 0]'/>
		<validation:is-false doc:name="validate requestedFRTLTV" doc:id="95c40539-555d-4233-912f-8b840ee21ea5" message="requestedFRTLTV cannot be null when interestType is Variable Rate" expression='#[sizeOf(payload filter((item,index)-&gt; item.interestType == "Variable Rate" and item.requestedFRTLTV == null)) != 0]'/>
		<validation:is-false doc:name="validate requestedFRTMinAmortizingUWNCFDSCR" doc:id="3faaa203-9069-46f0-9fc2-891849c923b4" message="requestedFRTMinAmortizingUWNCFDSCR cannot be null when interestType is Variable Rate" expression='#[sizeOf(payload filter ((item,index)-&gt; item.interestType == "Variable Rate" and item.requestedFRTMinAmortizingUWNCFDSCR == null)) != 0]'/>
		<validation:is-false doc:name="validate requestedFRTMinUWDSCRperGuide" doc:id="900703a3-886e-434a-8147-bcac704dfb12" message="requestedFRTMinUWDSCRperGuide cannot be null when InterestType is Variable Rate" expression='#[sizeOf(payload filter ((item,index)-&gt; item.interestType == "Variable Rate" and item.requestedFRTMinUWDSCRperGuide == null)) != 0]'/>
	</sub-flow>
	<sub-flow name="ValidateAgainstProductType" doc:id="c02fc771-ecde-4acf-9a0f-02de86ce6aba" >
		<validation:is-false doc:name="Validate sARMInitialCapTermMonths" doc:id="4c5b613c-2611-4246-ab18-a238e2d6d58f" expression='#[sizeOf(payload filter((item,index)-&gt; item.variableProductType == "SARM" and item.sARMInitialCapTermMonths == null)) != 0]' message="sARMInitialCapTermMonths cannot be null when variable product type is SARM"/>
		<validation:is-false doc:name="Validate sARMMinCapStrikeRate" doc:id="d5fae8e1-cefb-4ee6-9997-c3f8629fdae4" expression='#[sizeOf(payload filter((item,index) -&gt; item.sARMMinCapStrikeRate ==null and item.variableProductType == "SARM")) != 0]' message="sARMMinCapStrikeRate cannot be null when variable product type is SARM"/>
	</sub-flow>
	<sub-flow name="ValidateAgainstPrepayComps" doc:id="155ebd62-f282-4069-8ca1-faf1e68e8f65" >
		<validation:is-false doc:name="Validate decliningPremiumSchedule" doc:id="3815a75a-4e61-43ab-b94f-d37bea75e720" expression='#[sizeOf(payload filter ((item,index)-&gt; (payload.decliningPremiumSchedule == "" or  payload.decliningPremiumSchedule == null) and (payload.prepaymentComponent2 == "Declining Premium" or payload.Prepayment_Component_1__c == "Declining Premium"))) != 0]' message="decliningPremiumSchedule is required when either prepayment components have declining premium"/>
		<validation:is-false doc:name="Validate otherPrepaymentPremiumSchedule" doc:id="8318974b-25a5-452d-bb0c-2a9f2fc7be76" expression='#[sizeOf(payload filter ((item,index)-&gt; (item.otherPrepaymentPremiumSchedule == "" or item.otherPrepaymentPremiumSchedule == null) and (item.prepaymentComponent2 == "Other Prepayment Premium" or item.Prepayment_Component_1__c == "Other Prepayment Premium"))) != 0]' message="otherPrepaymentPremiumSchedule is required when either prepayment components are Other Prepayment Premium"/>
	</sub-flow>
	<sub-flow name="MiscValidations" doc:id="05061d23-01fe-4926-befa-c8defd384b82" >
		<validation:is-false doc:name="Validate loanTermMonths" doc:id="22fa8c90-0f78-4dec-a128-565839e11c14" expression="#[sizeOf(payload filter((item,index)-&gt; item.loanTermMonths &gt; item.amortizationTermMonths)) != 0]" message="Loan Term Months cannot be greater than Amortization Term Months"/>
		<validation:is-false doc:name="Validate interestOnlyPeriodMonths" doc:id="a203e913-596d-4c7c-a37a-3f1d935333aa" expression="#[sizeOf(payload filter ((item,index)-&gt; item.interestOnlyPeriodMonths &gt; item.loanTermMonths)) != 0]" message="interestOnlyPeriodMonths cannot be greater than loanTermMonths"/>
		<validation:is-false doc:name="Validate prepaymentComponenttoMonths1" doc:id="5d9ddbba-3707-4bda-885c-ef7e9e1b69d2" expression="#[sizeOf(payload filter ((item,index)-&gt; item.prepaymentComponenttoMonths1 != null and (item.prepaymentComponenttoMonths1 &lt; 0 or item.prepaymentComponenttoMonths1 &gt; item.loanTermMonths))) != 0]" message="prepaymentComponenttoMonths1 cannot be less than zero and should be always less than or equal to loan term months"/>
		<validation:is-false doc:name="Validate prepaymentComponenttoMonths2" doc:id="5edf21af-efc7-4de6-9fc4-bf88e3f3c575" expression="#[sizeOf(payload filter ((item,index)-&gt; ((item.prepaymentComponenttoMonths2 != null and item.prepaymentComponenttoMonths2 &lt; 0 ) or (item.prepaymentComponenttoMonths2 != null and item.prepaymentComponenttoMonths2 &gt; item.loanTermMonths)))) != 0]" message="prepaymentComponenttoMonths2 cannot be less than zero and should be always less than or equal to loan term months"/>
		<validation:is-false doc:name="validate prepaymentComponenttoMonths2 when prepaymentComponent2 is given" doc:id="c1a7bc88-87bd-496e-b12f-fa20ad404ed8" expression='#[sizeOf(payload filter((item,index)-&gt; (item.prepaymentComponent2 != null or item.prepaymentComponent2 != "") and (item.prepaymentComponenttoMonths2 == null or item.prepaymentComponenttoMonths2 == "" or item.prepaymentComponenttoMonths2 == 0))) != 0]' message="prepaymentComponenttoMonths2 is required when prepaymentComponent2 is given"/>
	</sub-flow>
</mule>
